<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-4 mt-2" *ngFor="let movie of movies">
      <div class="card">
        <img
          class="card-img-top"
          src="http://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          alt="movie.title"
        />
        <div class="card-body">
          <h4 class="card-title">{{ movie.title }}</h4>
          <button
            type="button"
            class="btn btn-danger"
            [disabled]="movie.isFavorite"
            (click)="addToFavorites(user.user.id, movie.id)"
          >
            Add to Favorites <i class="bi bi-heart"></i>
          </button>
          <a
            class="btn btn-primary ms-3"
            href="{{ movie.video }}"
            target="_blank"
          >
            Watch Trailer <i class="bi bi-tv"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<video autoplay muted loop id="myVideo">
  <source src="../../../assets/matrix.mp4" type="video/mp4" />
</video>
